/Domain2_Ebrahim Tambuwala_Connect to MySQL Database and Design the Homepage in/Task4_JavaDB/build/
/Domain2_Ebrahim Tambuwala_Connect to MySQL Database and Design the Homepage in/Task4_JavaDB/nbproject/private/
/Domain2_Ebrahim_Tambuwala_Add_and_Delete_Products_Buyers/StoreManagementSystem/nbproject/private/
/Domain2_Ebrahim_Tambuwala_Add_and_Delete_Products_Buyers/StoreManagementSystem/build/
/Domain2_Ebrahim_Tambuwala_Add_and_Delete_Products_Buyers/StoreManagementSystem/dist/
/Domain2_Ebrahim_Tambuwala_Add_and_Delete_Products_Buyers/Task5_Add_Del_Products_Buyers/build/
/Domain2_Ebrahim_Tambuwala_Add_and_Delete_Products_Buyers/Task5_Add_Del_Products_Buyers/dist/
/Domain2_Ebrahim_Tambuwala_Add_and_Delete_Products_Buyers/Task5_Add_Del_Products_Buyers/nbproject/private/
/Domain2_Ebrahim_Tambuwala_Add_and_Delete_Products_Buyers/Task6_Update_Search_Product_Buyers/nbproject/private/
/Domain2_Ebrahim_Tambuwala_Add_and_Delete_Products_Buyers/Task6_Update_Search_Product_Buyers/build/
/Domain2_Ebrahim_Tambuwala_Update_and_Search_ProductsBuyers/Task6_Update_Search_Product_Buyers/dist/
/Domain2_Ebrahim Tambuwala_Connect to_MySQL Database and Design the Homepage in/Task4_JavaDB/dist/
/Domain2_Ebrahim Tambuwala_Design the Login Page Using NetBeans IDE/Task3_LoginUI/dist/
/Domain2_Ebrahim Tambuwala_Design the Login Page Using NetBeans IDE/Task3_LoginUI/build/